<!-- FOOTER -->
<footer class="bg-light pt-5 mt-5">
  <div class="container">

    <div class="row">
      <!-- Column 1: Logo + Social -->
      <div class="col-md-3 mb-4">
        <div class="d-flex align-items-center gap-2 mb-2">
          <div class="p-2 border rounded"><i class="fa-solid fa-store fs-3"></i></div>
          <span class="fw-bold fs-5">Ecommerce</span>
        </div>
        <p class="text-muted small">DevCut is a YouTube channel for practical project-based learning.</p>
        <div class="d-flex gap-2 mt-2">
            <i class="fab fa-github fs-5"></i>
            <i class="fab fa-instagram fs-5"></i>
            <i class="fab fa-youtube fs-5"></i>
        </div>
      </div>
        

      <!-- Column 2: Shop -->
      <div class="col-md-2 mb-4">
        <h6 class="text-muted">SHOP</h6>
        <ul class="list-unstyled mt-2">
          <li><a href="/profile" class="text-decoration-none text-dark">My Account</a></li>
          <li><a href="/checkout" class="text-decoration-none text-dark">Checkout</a></li>
          <li><a href="/cart" class="text-decoration-none text-dark">Cart</a></li>
        </ul>
      </div>

      <!-- Column 3: Company -->
      <div class="col-md-2 mb-4">
        <h6 class="text-muted">COMPANY</h6>
        <ul class="list-unstyled mt-2">
          <li><a href="#" class="text-decoration-none text-dark">About us</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Contact</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Careers</a></li>
        </ul>
      </div>

      <!-- Column 4: Support -->
      <div class="col-md-2 mb-4">
        <h6 class="text-muted">SUPPORT</h6>
        <ul class="list-unstyled mt-2">
          <li><a href="#" class="text-decoration-none text-dark">FAQ</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Terms of use</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Privacy Policy</a></li>
        </ul>
      </div>

      <!-- Column 5: Payments -->
        <div class="col-md-3 mb-4">
            <h6 class="text-muted">ACCEPTED PAYMENTS</h6>
            <div class="d-flex gap-2 mt-2">
                <i class="fa-brands fa-cc-visa fs-3"></i>
                <i class="fa-brands fa-cc-mastercard fs-3"></i>
                <i class="fa-brands fa-cc-amex fs-3"></i>
                <i class="fa-brands fa-cc-paypal fs-3"></i>
            </div>
        </div>
      
    </div>

    <hr class="mt-4">

    <!-- Copyright -->
    <div class="text-center pb-3 small text-muted">
      © 2023 DevCut. All rights reserved.
    </div>
  </div>
</footer>
